@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
nav ul {
  gap: 1rem;
}
.first-page {
  background-image: url("./images/Header-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.first-content {
  padding-top: 12rem;
}

.icons {
  gap: 1rem;
}

.card-container {
  background: #e5e5e5;
  padding: 10rem 0;
  gap: 10rem;
}

.card-roles {
  gap: 1rem;
}

.card-wrapper {
  border-radius: 1rem;
}

.card-body .tags li {
  color: #6070ff;
  background-color: #ebebff;
}

.card-roles .counter {
  height: 1px;
  width: 1px;
  border-radius: 50%;
  padding: 5px;
  background-color: rgb(206, 201, 201);
}

.card-title {
  margin-bottom: 1rem;
}

.row a.btn {
  margin-top: 4rem;
}

.about {
  margin-top: 5rem;
  height: 70vh;
}

.about ul {
  gap: 1rem;
}

.about .langs {
  margin-top: 5rem;
}

.langs ul li {
  background: #f7f7f9;
  border-radius: 8px;
  padding: 1rem;
}
